*
{
	margin: 0;
	padding: 0;
}

body
{
	background: #ffffff;
	height: 100%;
	width: 100%;
	font-family: "PT Sans", "Helvetica Neue", Tahoma;
	font-weight: 400;
	line-height: 1.5em;
	letter-spacing: 2px;
	font-size: 18px;
}

p
{
	margin: 20px 0;
	font-size: 18px;
	letter-spacing: 2px;
}

h2
{
	color: #3b3b3b;
	font-size: 32px;
	font-family: Lato; 
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-bottom: 30px;
}

h3
{
	margin: 30px 0 10px 0;
} 

/* NAV */
nav
{
	position: fixed;
	height: 40px;
	min-width: 100%;
	background-color: #ffffff;
	z-index: 5;
	display: none;
}

nav p
{
	margin: 0 0 0 30px;
	text-transform: uppercase;
	float: left;
	font-size: 18px;
	letter-spacing: 2px;
	font-weight: 800;
	padding: 10px 0 0 0;
}

nav b
{
	background-color: #6ae2c7;
	color: #ffffff;
}

nav ul
{
	float: right;
	margin: 10px 30px;
}

nav li
{
	float: left;
	display: inline;
	list-style-type: none;
	color: #545454;
	font-weight: 500;
	text-transform: uppercase;
	padding: 0 10px;
	font-size: 15px;
}

nav a
{
	text-decoration: none;
	color: #545454;
}

nav li a:before
{
	color: #545454;
	content: "";
  	position: absolute;
  	width: 100%;
  	height: 3px;
  	bottom: 0;
  	left: 0;
  	background: #000000;
  	visibility: hidden;
  	border-radius: 5px;
  	transform: scaleX(0);
  	transition: .25s linear;
}

nav li a:hover:before,
nav li a:focus:before 
{
	color: #8a2c23;
	background-color: #8a2c23;
	transform: scaleX(1);
	visibility: visible;
}

/*apply tab*/
#tab
{
	position: absolute;
	top: 0;
	right: 10%;
	background-color: #ffffff;
	min-width: 10%;
	padding: 12px 10px;
	text-transform: uppercase;
	font-size: 16px;
	border-radius: 0 0 5px 5px;
	font-weight: 500;
	text-align: center;
}

#tab a
{
	text-decoration: none;
	color: #545454;
}


/* SECTION GENERAL */
section {
	padding: 10% 150px;
}

section a
{
	color: #8a2c23;
	text-decoration: none;
	font-weight: bold;
}

section a:hover
{
	text-decoration: underline;
}

section p
{
	padding-top: 10% inherit;
	font-family: "EB Garamond", Garamond;
	letter-spacing: 1px;
	font-size: 22px;
	line-height: 1.45em;
	color: #3b3b3b;
}

section ol
{
	font-family: "EB Garamond", Garamond;
	letter-spacing: 1px;
	font-size: 20px;
}

/* header */
header
{
	margin: 0 auto;
	text-align: center;
	padding: 20% 0;
	color: #ffffff;
	opacity: 1.0;
	background: url('about2.jpg') #000000 no-repeat;
	background-size: cover;
	text-transform: uppercase;
	min-height: 25vh;
}

header h1
{
	margin: 15px 0 10px 0;
	font-size: 38px;
	letter-spacing: 2px;
}

header p
{
	font-size: 18px;
	font-weight: 500;
	color: #ffffff;
	text-align: center;
	line-height: 1.2em;
}

header .logo
{	
	width: 120px;
	text-align: center;	

}

/*header.parallax-window
{
	background: linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35));
}*/

header li
{
	display: inline;
	width: 50px;
	list-style-type: none;
}

header img
{
	width: 25px;
}

/* SECTION: summary */
#summary
{
	color: #3b3b3b;
}

#summary p
{
	font-size: 26px;
	opacity: 1.0;
	background-color: #ffffff;
	line-height: 1.4em;
	text-align: center;
	letter-spacing: 2px;
	margin: 30px 0;
}

#summary a
{
	color: #6ae2c7;
	text-decoration: none;
	opacity: 1.0;
}



section ol li
{
	margin: 5px 0px 5px 50px;
}

